* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li:first-child {
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.sidebar ul li:first-child:hover {
    background: none;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

.sidebar .title {
    padding: 0 10px;
    font-size: 20px;
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: linear-gradient(45deg, rgb(148, 127, 99), rgb(36, 17, 88));
    overflow-x: hidden;
    box-shadow: 0 4px 8px p rgb(0, 0, 0, 0.2);
    z-index: 2;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li:first-child {
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

.sidebar .title {
    padding: 0 10px;
    font-size: 20px;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    min-height: 100vh;
    left: 300px;
    background: white;
}

.top-bar {
    position: fixed;
    height: 60px;
    width: calc(100% - 300px);
    background: white;
    display: grid;
    grid-template-columns: 10fr 0.4fr 1fr;
    grid-gap: 5px;
    align-items: center;
    color: #444;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    z-index: 2;
}

.top-bar .search {
    position: relative;
    max-width: 400px;
}

.search input {
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    background: white;
}

.search i {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

.user {
    position: relative;
    width: 50px;
    height: 50px;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.tab {
    border: none;
    background-color: rgb(30, 30, 105), rgb(71, 136, 71);
    width: 100%;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    display: block;
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 70px;
    margin-left: 6px;
    z-index: 2;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    height: 564px;
    display: none;
    text-align: center;
    background-color: antiquewhite;
}

.center h3 {
    font-size: large;
    border: #444;
    margin-top: 300px;
    color: red;
}

.input-box {
    position: relative;
    height: 46px;
    max-width: 900px;
    width: 500px;
    background: #fff;
    margin-left: 1px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input-box i,
.input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
}

.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}

.input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    background-color: rgb(110, 10, 10);
    cursor: pointer;
}

.cards {
    margin-top: 60px;
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card {
    background: linear-gradient(45deg, rgb(119, 180, 119), white);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.4);
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: white;
}

.card-name {
    color: #444;
    font-weight: 600;
}
.tables {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    align-items: self-start;
    padding: 0 20px 20px 20px;
}

.img-box-small {
    position: relative;
    width: 40px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

.last-appointments,
.doctor-visiting {
    min-height: 350px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #444;
}

.btn {
    padding: 5px 10px;
    background: linear-gradient(45deg, rgb(78, 4, 4), #ef4a82);
    color: white;
    text-decoration: none;
    text-align: center;
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

thead td {
    font-weight: 600;
    color: #333;
}

table tr {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

tbody tr:hover {
    background: brown;
    color: white;
}

table tbody tr:last-child {
    border-bottom: none;
}

td {
    padding: 9px 5px;
}

.last-appointments table tbody td:last-child {
    white-space: nowrap;
}