*{
    margin: 0%;
}

.p2{
    display: flex;
    flex-direction: column;
    height: 570px;
    width: 500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
    background-image: linear-gradient(#3fc7f4,#8af9c0);
    box-shadow: 2px 3px 5px;
    border-radius: 20px; 
}
.p2 form{
    align-items: center;
}
.p2 button{
padding: 10px 10px;
margin-top:26px;
margin-left:5%;
width: 30%;
background-color: black;
color: whitesmoke;
font-size: 20px;
border-radius: 12px;
border: none;
cursor: pointer;
}
.p2 h1{
    color:rgb(37, 34, 34);
    font-size: 50px;
    border-bottom: 4px solid darkgrey;
    margin: 50px; 
    text-align: center;
}
.p2 p{
    margin-left: 17%;
    font-size: 25px;
   text-decoration: underline;
}
.label{
    padding: 12px;
    margin: 20px;
    margin-left: 14%;
    width: 65%;
    border: none;
    background-color:whitesmoke;
    border-radius: 6px;
    font-size: 15px;
}
#submit{
    padding: 10px 20px;
    margin-top: 50px;
    width: 50%;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
nav{
    width: 100%;
    height: 75px ;
    background-image: linear-gradient(#033747,#012733);
   top: 0;
   left: 0;
  
}

nav .logo{
    margin-top: 1.2%;
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
   
}
nav ul{
    float: right;
    margin-right: 3%;
    margin-top: 1.2%;
}
nav li{
    display: inline-block;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 30px;
    color: white;
    text-decoration: none;
    
}
nav li:hover a{  

transition: 3s;
background-color:#ff8c69 ;
border-radius: 3px;

}
.nav1{
    display: flex;
   
}
.nav2{
    height: 50px;
    width: 20%;
    margin-top: 3%;
    margin-left: 10%;
}
.nav2 select{
    padding: 10px 12px;
    width: 80%;
    background-color: rgb(44, 44, 1);
    color: whitesmoke;
    font-size: 23px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px black;
}
.gallery{
    margin-left: 4%;
    
   
}
.cards{
    width: 20%;
    background-color:whitesmoke;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    }
    .cards:hover {
        box-shadow: 2px 2px 8px black;
        background-color:seashell;
      
    }
    .gallery img{
        width: 100%;
        height: 200px;
    }
    .card0 img{
       
        border-radius: 5px;
    }
    .card1{
        margin: 10px;
    }
    .card1 p{
        text-align: left;
        font-size: 25px;
        font-weight: 600;
    
    }
    .card1 h3{
        color: rgb(103, 103, 2);
        text-decoration: underline;
        font-size: 20px;
    }
    .card2{
        text-align:left;
        height: 100px;
    }
    .card2 p{
        color: red;
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
   
    .card2 button{
        margin-left: 10%;
        margin-top: 9%;
        padding: 10px 9px;
        background-color: rgb(19, 19, 252);
        color: whitesmoke;
        border-radius: 10px;
    }
    .card2 button:hover{
        background-color: black;
        color: whitesmoke;
        transition: 1s;
    }
.but{
   float: right;
   margin-right: 5%;
   padding: 0px 15px;
   margin-top: 1.2%;
}
.but1{
    padding: 8px;
    background-color:#ff8c69;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    box-shadow: 2px 2px 5px black;
    text-transform: uppercase;
    cursor: pointer;
}
.but1:hover{
    box-shadow: 2px 2px 70px black;}
.foo{
    height: 500px;
    background-color: #012733;
}
footer{
    background-color: #033747;
    bottom: -100px;
    width: 100%;
    height: 300px;
    position: relative;

     
}
.container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

}
.footer-content{

    width: 33.3%;
}
.footer-content i{
    height: 40px;
    width: 20%;
    font-size: 50px;
    color: whitesmoke;
    
}
.footer-content i:hover{
    color: #ff8c69;
}
.footer-content h3{
    font-size: 42px;
    margin-bottom: 15px;
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
}
.footer-content p{
    width: 190px;
    margin: 20px;
    font-size: 30px;
    font-weight: 500px;
    
}
.footer-content ul{
    text-align: center;

}
.list{
    padding: 0;
}
.footer-content ul li{
    width: auto;
    text-align: center;
    list-style-type: none;

}
.bottom-bar{
    height: 50px;
    width: 100%;
    background-color: white;
    bottom: 0%;
    position: absolute;
    text-align: center;
    font-weight: 500;
}
.bottom-bar p{
    font-size: 40px;
}
.search{
    margin: auto;
    margin-top: 4%;
    margin-bottom: 3%;
    position: relative;
    height: 42px;
    width: 300px;
     border: 4px solid #012733;
     padding:0px 20px;
     border-radius: 12px;
     margin-left: 10%;
     
    
}
.search1{
    width: 100%;
    height: 100%;
    vertical-align: middle;

}
.search2{
    border: none;
    height: 100%;
    padding:0px 5px;
    border-radius: 50px;
     font-size: 18px;
     font-weight: 500;
     outline: none;

}
.prop{
    height: 500px;
    width: 70%;
    background-color:white;
    margin: auto;
    margin-top: 7%;
   
}
.bar{
    width: 90%;
    height: 100px;
    background-color: #020717;
  margin: 10px;
    margin-top: 2%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 3px 5px #ff8c69;
    


}
.bar a{
    color:white;
    font-size: 40px;

}
.bar a:hover{
    color:#ff8c69;
}
.contact1{
    width: 40%;
    height: 500px;
    background-color:white;
    display: flex;
    flex-direction: column;
    padding:40px;
    margin-left: 40%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow:2px 2px 5px #310f04;
    text-align: center;
   margin: auto;
    


}
.lab{
    padding: 12px;
    margin: 20px;
    border-radius: 12px;
  border: none;
  width: 60%;
  margin: auto;
  background-color: #e7f054f5;
  box-shadow: 2px 2px 5px;
  font-size: 20px;

}
.contact1 textarea{
    height: 90px;
    width: 90%;
    margin: auto;
    background-color: #e7f054f5;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #f4f7f8;
    font-size: 20px;
}
.contact1 h1{
    color:#033747;
    text-transform:uppercase;
    font-size: 40px;
    text-decoration: underline;
 
}
#submit1{
    padding: 10px 20px;
    margin-top: 50px;
    width: 30%;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin: auto;
}
#submit1:hover{
    background-color:#012733;
}
.details
{
    height: 300px;
    width: 30%;
    background-color: whitesmoke;
    display: inline-block;padding: 15px 15px;
    margin-top: 6%;
    border: 10px solid #012733;
}
.details h1{
    text-align: center;
    margin-top: 11%;
    font-size: 60px;
    color: #033747;
    font-weight: 500;
}
.side{
    height: 600px;
    width: 50%;
    background-color: whitesmoke;
    display: inline-block;
    padding: 15px;
    margin: 2%;
    border-radius: 200px;
   margin-left: 3%;
    
 
}
.container{
    margin: auto;
    
}
.ads{

}
.home1{
    background-color: #028733;
    height: 150px;
    width: 45%;
    margin: 20px;
    display: inline-block;

}
.home1 img{
    height: 100%;
    width: 100%;
    border: 2px solid #020717;
}

.home2{
    background-color: #028733;
    height: 150px;
    width: 45%;
    margin: 20px;
    display: inline-block;
    
}
.home2 img{
    height: 100%;
    width: 100%;
    border: 2px solid #020717;
}
.home3{
    margin-left: 4%;
}

.home4{
    background-color: #028733;
    height: 500px;
    width: 30%;
    margin: 20px;
    display: inline-block;
}
.home3 img{
    height: 100%;
    width: 100%;
}
.home5{
    background-color: #028733;
    height: 500px;
    width: 30%;
    margin: 20px;
    display: inline-block;
}
.home6{
    background-color: #028733;
    height: 500px;
    width: 30%;
    margin: 20px;
    display: inline-block;
}
.about1{
  display: flex;
  flex-direction: column;
  margin-left: 20%;


}
.about2{
    height: 120px;
    width: 70%;
    background-color:white;
    margin-left: 6%;
}
.about2 h1{
    font-size: 70px;
    text-align: center;
    margin-top: 5%;
    color:#355E3B;
   
}
.about3{
    height: 800px;
    width: 80%;
    background-color: whitesmoke;
    margin: 20px;
    border: 2px solid black;
    
}
.about3 h1{
    font-size: 40px;
    color: #033747;
    text-align: center;

}
.about3 p{
    font-size: 30px;
    color: black;
    font-weight: 500;
    margin: 20px;
}
.sign{
    height: 850px;
    width: 50%;
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 13px;
    margin: auto;
    align-items: center;
    box-shadow: 2px 2px 6px;
   border-radius: 20px;
}
.sign h1{
    text-align: center;
    font-size: 40px;
    color: #033747;
    border-bottom: 5px solid #ff8c69;
}
.signlabel{
padding: 15px;
width: 70%;
margin-left: 32%;
margin-bottom: 10px;
font-size: 25px;
border-radius: 16px;
border:2px solid #ff8c69;;
}
.sign p{
    font-size: 20px;
    margin-left: 36%;
}
.sign1{
    margin-top: 4%;
    margin-right:7%;
}
.signbut{
    background-color: rgb(7, 7, 74);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top:1%;
    margin-left: 30%;
    height: 50px;
    width: 80px;
    font-size: 25px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px #033747;
}
.book{
    height: 620px;
    width: 40%;
    background-color:whitesmoke;
    box-shadow: 2px 2px 10px;
    display: inline-block;
    margin-left: 7%;
    float: left;
}
.book i{
    font-size: 70px;
    color: green;
   margin-left: 40%;
   margin-top: 10%;
}
.book h1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.book button{
    margin-left: 40%;
    height: 40px;
    width: 19%;
    margin-top: 3%;
    font-size: 25px;
    background-color: #464444;
    border-radius: 20px;
    color: white;    
}
.book1{
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    margin: 2%;
    border-radius: 12px;
    box-shadow: 2px 2px 6px;
    font-size: 30px;
}
#cat{
    width: 22%;
}
.book2{
    margin-top: 3%;
    margin-left: 15%;
}
.info{
    background-color: rgb(7, 7, 7);
    height:86vh;
    width:40%;
    box-shadow: 2px 2px 10px;
    border-radius:12px;
    display: inline-block;
    float: right;
    margin-right: 9%;
  }
  .info button{
    background-color: red;
    height: 40px;
    width: 12%;
    margin-top: 12%;
    border-radius: 12px;
    box-shadow: 2px 2px 12px;
    color: whitesmoke;
    font-size: 30px;
  }
  .info h1{
    color: whitesmoke;
    font-size: 50px;
    font-weight: 800;
  }
  .prod img{
        width: 100%;height: 200px;
  }
  .prod1 h1{
    color: red;
    font-size: 30px;
  }
  .prod1 p{
    font-weight: 800;
    color: whitesmoke;
  }
  .prod2{
    height: 350px;
    width: 45%;
    background-color: rgb(7, 18, 14);
    display: inline-block;
    float: left;
  }
  .prod3{
    height: 350px;
    width: 45%;
    background-color: rgb(7, 18, 14);
    float: right;
    display: inline-block;
  }
  .boo{
    margin-top: 4%;
  }